{% extends 'base.html' %}

{% block body %}
<div class="row justify-content-center">
    <form class="form-signin" action="{{url_for('login')}}" method="post" class="col-md-8 col-sm-12 align-items-center">
        <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-group">
            <label for="inputEmail" class="">Username</label>
            <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required
                autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
                required>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me" name="remember_me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
    </form>
</div>
{% endblock %}