{% extends 'base.html' %}

{% block body %}
<form action="{{url_for('register')}}" class="form" method="post">
    {% if error %}
    <div class="alert alert-danger">
        {{error}}
    </div>
    {% endif %}
    <div class="form-group">
        <label for="">Usename: </label>
        <input type="text" class="form-control" placeholder="Enter your username" name="username">
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" placeholder="Enter your email adress" name="email">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" placeholder="Enter your password" name="password">
    </div>
    <div class="form-group">
        <label for="">Password Confirm</label>
        <input type="password" class="form-control" placeholder="Confirm your password" name="password_confirm">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Register</button>
    </div>
</form>

{% endblock %}