{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Hello, {{g.user['username'] | capitalize}} ! Welcome to your profile</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Edit profile</a>
</div>
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">If you want to express yourself write an article bellow</p>
    <hr class="my-4">
    <h2>Post an article</h2>
    <form action="{{url_for('post_article')}}" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Comment</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="3"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Post</button>
        </div>
    </form>
</div>

{% endblock %}