<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{url_for('index')}}">Flask MVC Blog</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('blog')}}">Blog<span class="sr-only">(current)</span></a>
            </li>
            {% if g.user %}
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('profile')}}">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="{{url_for('logout')}}" class="nav-link">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('register')}}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>