{% extends 'base.html' %}

{% block body %}

<div class="row">
    {% for article in articles %}
    <div class="col-6">
        <div class="card mb-5">
            <div class="card-header text-muted">
                {{article.author | capitalize}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{article.title | capitalize}}</h5>
                <p class="card-text">{{article.body | capitalize}}</p>
                <a href="{{url_for('handle_article', id=article.id)}}" class="btn btn-primary">See more..</a>
            </div>
            <div class="card-footer text-muted">
                {{article.created}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}