{% extends 'base.html' %}

{% block body %}
<div class="row mb-4 pl-2">
    <a href="{{url_for('blog')}}" class="btn btn-primary">back to articles</a>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card mb-5">
            <div class="card-header text-muted">
                {{article.author | capitalize}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{article.title | capitalize}}</h5>
                <p class="card-text">{{article.body | capitalize}}</p>
            </div>
            <div class="card-footer text-muted">
                {{article.created}}
            </div>
        </div>
    </div>
</div>

<div class="list-group">
    {% for comment in comments %}
    <div class="row mb-2">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{comment.author}}</h5>
            </div>
            <p class="mb-1">{{comment.content}}
            </p>
            <small>{{comment.created}}</small>
        </a>
    </div>
    {% endfor %}
</div>
{% if g.user %}
<form method="post" class="mt-3" action="{{url_for('post_comment', post_id=article.id)}}">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Comment: </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" value="Post" class="btn btn-primary">
    </div>
</form>
{% endif %}
{% endblock %}